<section class="pet-banner">
    <div class="pet-banner__container container">
        <div class="pet-banner__content content">
            <div class="content__article article article_text-left">
                <h2 class="article__title">
                    Домашние животные играют важную роль в вашей жизни!
                </h2>
                <div class="article__body">
                    <p class="article__text">Милые питомцы добавят в вашу жизнь огромное количество позитивных эмоций. У
                        вас появится верный друг, который всегда будет с вами. К тому же, взяв питомца из приюта, вы
                        подарите ему новую жизнь и светлое будущее.</p>
                    <p class="article__text">Все питомцы живут в благоприятных условиях и готовятся для дальнейшего
                        перехода к вам.</p>
                </div>
            </div>
            <div class="content__image">
                <img class="content__image-img" src="/assets/images/banner1.png" alt="">
            </div>
        </div>
        <div class="pet-banner__content content">
            <div class="content__image">
                <img class="content__image-img" src="/assets/images/banner2.png" alt="">
            </div>
            <div class="content__article article article_text-right">
                <h2 class="article__title">
                    Возможности сервиса
                </h2>
                <div class="article__body">
                    <p class="article__text">Наш сервис предоставляет возможность просмотра, выбора и подбора животных
                        из 13 различных приютов города Москвы. Вы можете воспользоваться поиском питомца по подходящим
                        вам параметрам, а
                        также просмотреть приюты и их животных.</p>
                    <p class="article__text">После выбора питомца у вас есть возможность оформить заявку для получения
                        животного.</p>
                </div>
            </div>
        </div>
        <div class="pet-banner__stat stat">
            <div class="stat__columns">
                <div class="stat__column">
                    <span class="stat__text">Сервис работает с<p class="stat__text stat__text_count">13</p>
                        приютами</span>
                </div>
                <div class="stat__column">
                    <span class="stat__text">Всего в приютах <p class="stat__text stat__text_count">16490</p>
                        животных</span>
                </div>
                <div class="stat__column">
                    <span class="stat__text">Уже забрали <p class="stat__text stat__text_count">1230</p>питомцев</span>
                </div>
                <div class="stat__column">
                    <span class="stat__text">Выберите питомца из
                        <p class="stat__text stat__text_count">8755</p>
                        животных
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>