<section class="animals-list">
    <div class="animals-list__container container">
        <div class="animals-list__header">
            <button class="animals-list__back back" (click)="goBack()">
                <fa-icon class="back__icon icon" icon="chevron-left"></fa-icon>
                <span class="back__text">Назад</span>
            </button>
            <h2 class="animals-list__title">Список животных</h2>
        </div>
        <div class="animals-list__animal-list list">
            <div class="list__filters animal-filters">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span class="animal-filters__title">Фильтры</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="animal-filters__list" *ngIf="filtersIsLoaded == true">
                            <div class="animal-filters__filter-container">
                                <div class="animal-filters__filter filter">
                                    <p class="filter__name">Вид животного</p>
                                    <ul class="filter__options">
                                        <li class="filter__option" *ngFor="let option of filters[0].options">
                                            <mat-checkbox color="warn" #speciesCheckbox
                                                (change)="changeFilter($event, 'species', option)"
                                                [disabled]="checkDisabled('species', option, animals | petFilters : activeFilters, speciesCheckbox)">
                                                {{option}}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="animal-filters__filter-container">
                                <div class="animal-filters__filter filter">
                                    <p class="filter__name">Пол</p>
                                    <ul class="filter__options">
                                        <li class="filter__option" *ngFor="let option of filters[1].options">
                                            <mat-checkbox color="warn" #genderCheckbox
                                                (change)="changeFilter($event, 'gender', option)"
                                                [disabled]="checkDisabled('gender', option, animals | petFilters : activeFilters, genderCheckbox)">
                                                {{option}}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="animal-filters__filter-container">
                                <div class="animal-filters__filter filter">
                                    <p class="filter__name">Окрас</p>
                                    <ul class="filter__options">
                                        <li class="filter__option" *ngFor="let option of filters[2].options">
                                            <mat-checkbox color="warn" #hair_colorCheckbox
                                                (change)="changeFilter($event, 'hair_color', option)"
                                                [disabled]="checkDisabled('hair_color', option, animals | petFilters : activeFilters, hair_colorCheckbox)">
                                                {{option}}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="animal-filters__filter-container">
                                <div class="animal-filters__filter filter">
                                    <p class="filter__name">Шерсть</p>
                                    <ul class="filter__options">
                                        <li class="filter__option" *ngFor="let option of filters[3].options">
                                            <mat-checkbox color="warn" #hair_typeCheckbox
                                                (change)="changeFilter($event, 'hair_type', option)"
                                                [disabled]="checkDisabled('hair_type', option, animals | petFilters : activeFilters, hair_typeCheckbox)">
                                                {{option}}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="animal-filters__filter-container">
                                <div class="animal-filters__filter filter">
                                    <p class="filter__name">Уши</p>
                                    <ul class="filter__options">
                                        <li class="filter__option" *ngFor="let option of filters[4].options">
                                            <mat-checkbox color="warn" #ears_typeCheckbox
                                                (change)="changeFilter($event, 'ears_type', option)"
                                                [disabled]="checkDisabled('ears_type', option, animals | petFilters : activeFilters, ears_typeCheckbox)">
                                                {{option}}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="animal-filters__filter-container">
                                <div class="animal-filters__filter filter">
                                    <p class="filter__name">Хвост</p>
                                    <ul class="filter__options">
                                        <li class="filter__option" *ngFor="let option of filters[5].options">
                                            <mat-checkbox color="warn" #tail_typeCheckbox
                                                (change)="changeFilter($event, 'tail_type', option)"
                                                [disabled]="checkDisabled('tail_type', option, animals | petFilters : activeFilters, tail_typeCheckbox)">
                                                {{option}}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="animal-filters__filter-container">
                                <div class="animal-filters__filter filter">
                                    <p class="filter__name">Размер</p>
                                    <ul class="filter__options">
                                        <li class="filter__option" *ngFor="let option of filters[6].options">
                                            <mat-checkbox color="warn" #sizeCheckbox
                                                (change)="changeFilter($event, 'size', option)"
                                                [disabled]="checkDisabled('size', option, animals | petFilters : activeFilters, sizeCheckbox)">
                                                {{option}}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="list__items" #petList *ngIf="animals">
            <ng-container *ngIf="(animals | petFilters : activeFilters).length > 0; else elseTemplate">
                <div class="list__item"
                    *ngFor="let pet of animals | petFilters : activeFilters | paginate: { itemsPerPage: 20, currentPage: curPage }">
                    <a class="list__card card" [routerLink]="['/shelter', pet.shelter_id, pet.id]">
                        <div class="card__header">
                            <span class="card__title">{{pet.name}}</span>
                        </div>
                        <div class="card__image">
                            <div class="card__image">
                                <img class="card__image-img" src="/assets/images/1581з-20.jpg"
                                    alt="Фотография животного">
                            </div>
                        </div>
                        <div class="card__info info">
                            <p class="info__text">Вид: {{pet.species}}</p>
                            <p class="info__text">Порода: {{pet.breed}}</p>
                            <p class="info__text">Пол: {{pet.gender}}</p>
                            <p class="info__text">Размер: {{pet.size}}</p>
                            <p class="info__text">Возраст (год): {{pet.age}}</p>
                            <p class="info__text">Вес: {{pet.weight}} кг</p>
                        </div>
                    </a>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <span class="list__no-item">По вашему запросу ничего не найдено.</span>
            </ng-template>
        </div>
    </div>
    <div class="animals-list__page-controls">
        <pagination-controls (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)"
            previousLabel="Предыдущая" nextLabel="Следующая" autoHide="true" maxSize="8">
        </pagination-controls>
    </div>
</section>