@import "_variables";
.shelters {
    &__container {
        padding: 0 10px;
        margin-top: 20px;
    }
    &__title {
        font-size: 1.7em;
        padding-bottom: 20px;
        text-align: center;
    }
    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__list {
        border: 1px solid $mainBorderColor;
        flex: 0 0 30%;
        min-width: 200px;
        max-height: 650px;
        overflow: auto;
    }
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 12px;
        &_active {
            background: $mainBgColor;
        }
        &:not(:last-child) {
            border-bottom: 1px solid $mainBorderColor;
        }
        cursor: pointer;
        &:hover {
            background-color: $mainBgColor;
        }
    }
    &__map {
        flex: 0 0 70%;
        height: 650px;
    }
}

.shelter {
    &__info {
        flex: 0 0 70%;
        display: flex;
        flex-direction: column;
    }
    &__name {
        font-weight: 500;
    }
    &__adress {
        font-weight: 300;
    }
    &__btn {
        font-size: 16px;
        line-height: 1em;
        padding: 0 8px;
        display: none;
        &_active {
            display: inline-block;
        }
    }
}

::ng-deep .dg-label__content {
    color: #fff !important;
    font-size: 18px !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(155, 153, 153, 0.6);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(239, 83, 80, 0.8);
    border-radius: 2px;
    &:hover {
        background-color: rgba(239, 83, 80, 1);
    }
}
