@import "_variables";
.animal {
    text-align: center;
    &__container {
        max-width: 65%;
        position: relative;
    }
    &__back {
        position: absolute;
        left: 0;
        top: 20px;
        transform: translateX(-50%);
    }
    &__form {
        margin: 0 auto;
    }
    &__add-order {
    }
    &__btn {
    }
    &__delete-order {
        font-size: 20px;
        font-weight: 300;
        margin-left: 8px;
        color: $mainRedColor;
    }
}

.add-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &__text {
        font-size: 20px;
        margin-left: 8px;
        color: $mainBlueColor;
    }
    &__icon {
        font-size: 28px;
        color: $mainBlueColor;
    }
}

.order-delete {
    margin-bottom: 12px;
}
