.test {
    position: relative;
    &__container {
    }
    &__step-title {
        font-size: 18px;
        font-weight: 500;
        color: #000;
    }
    &__question {
        font-size: 20px;
        margin-top: 8px;
    }
    &__options {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
    }
    &__option {
        margin: 5px;
    }
    &__btn {
    }
}
